<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="root">
    <body class="app">
      <%= yield %>
    </body>
  </body>
</html>
